.DS_Store
fishd.*
jupyter/migrated
ipython/profile_default/history.sqlite
ipython/profile_default/startup/
Ubersicht/repos
kitty/cached.json

# control which widgets are tracked
artwork.widget
daysto.widget
itunes-now.widget
ical.widget
kindle-clippings.widget
