/* General styling of quotation blocks */

/* Level 1 */
blockquote {
    background-color: rgb(232, 236, 242);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left-color: rgb(43, 73, 125);
    border-left-style: solid;
    border-left-width: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(43, 73, 125);

    line-height: 16px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    padding-bottom: 6px;
    padding-left: 9.75px;
    padding-right: 9.75px;
    padding-top: 2.5999999046325684px;
}

/* Level 2 */
blockquote blockquote {
    background-color: rgb(228, 241, 223);
    border-left-color: rgb(29, 62, 15);
    color: rgb(29, 62, 15);    
}

/* Level 3 */

blockquote blockquote blockquote {
    background-color: rgb(247, 212, 212);
    border-left-color: rgb(92, 10, 10);
    color: rgb(92, 10, 10);
}

/* Level 4 */

blockquote blockquote blockquote blockquote {
    background-color: rgb(219, 190, 179);
    border-left-color: rgb(71, 34, 21);
    color: rgb(71, 34, 21);
}

/* Level 5 */

blockquote blockquote blockquote blockquote blockquote {
    background-color: rgb(224, 230, 230);
    border-left-color: rgb(51, 95, 97);
    color: rgb(51, 95, 97);    
}